* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game {
    height: 612px;
    width: 612px;
    background-color: aquamarine;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    margin-top: 3px;
    margin-left: 1px;
    border-radius: 15px;
    font-size: 3.5rem;
    background-color: rgb(60, 77, 83);
}

.textx {
    color: rgb(15, 208, 31);
}

.text0 {
    color: rgb(241, 96, 12);
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resetButton {
    margin-top: 40px;
    margin-bottom: 1px;
    background-color: antiquewhite;
    color: black;
    height: 100px;
    width: 200px;
    font-size: 25px;
    border-radius: 1rem;
}

